.hero {
  background: url(../../img/hero.png) no-repeat center;
  background-size: cover;
  height: 350px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--font-white);
  height: 100%;
  max-height: 290px;
}

.hero-box__title {
  font-size: 5.2rem;
  margin-bottom: 16px;
}

.hero-box__description {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-box__button {
  max-width: 131px;
}